<div class="top-bar top-bar--transparent d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="top-bar__item">
                    <i class="top-bar__icon ui-phone"></i>
                    <a href="tel:02125824345" class="top-bar__phone-number">(212) 582 43 45</a>
                </div>
                <div class="top-bar__item">
                    <i class="top-bar__icon ui-email"></i>
                    <a href="mailto:bilgi@uluocak.com.tr" class="top-bar__email">bilgi@uluocak.com.tr</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="top-bar__socials top-bar__item top-bar__item--align-right">
                    <div class="socials socials--white">
                        <a href="#" class="social social-twitter" aria-label="twitter" title="twitter" target="_blank"><i class="ui-twitter"></i></a>
                        <a href="#" class="social social-facebook" aria-label="facebook" title="facebook" target="_blank"><i class="ui-facebook"></i></a>
                        <a href="#" class="social social-youtube" aria-label="youtube" title="google plus" target="_blank"><i class="ui-youtube"></i></a>
                        <a href="#" class="social social-instagram" aria-label="instagram" title="instagram" target="_blank"><i class="ui-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>			
</div>