{% extends "uluocak/base.html" %}
{% load static %}

{% block title %}
    Süleyman ULUOCAK
{% endblock title %}


{% block content %}
    
    <!-- Page Title -->
    <section class="page-title bg-dark-overlay text-center" style="background-image: url({% static 'uluocak/img/page-title/about.jpg' %});">
        <div class="container">
            <div class="page-title__holder">
                <h1 class="page-title__title">Süleyman ULUOCAK</h1>
                <p class="page-title__subtitle">Uluocak Mimarlık Ltd. Şti</p>
            </div>
        </div>
    </section> <!-- end page title -->

    <!-- Service -->
    <section class="section-wrap pb-0">
        <div class="box-offset-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="entry__article">
                            <h3>Eğitim</h3>
                            <p>Süleyman Uluocak, eğitim hayatına Zeytinburnu'nda başlayarak ilk, orta ve lise tahsilini bu semtte tamamladı. Daha sonra Yıldız Teknik Üniversitesi, Mimarlık Fakültesi'nde eğitim alarak 1988 yılında mezun oldu. Mimarlık tutkusunu geliştirmeye devam eden Uluocak, Mimar Sinan Üniversitesi'nde Bina Bilim Dalı'nda yüksek lisans çalışmalarına devam etmektedir. Eğitimine verdiği önem ve başarıları, kendisinin mimarlık alanındaki yetkinliği ve liderlik rollerini üstlenmesindeki temel dayanakları oluşturmuştur.</p>
                            <div class="gallery gallery-size-large">
                                <figure class="gallery-item">
                                    <div class="gallery-icon landscape">
                                        <img src="{% static 'uluocak/img/services/single/1.jpg' %}" class="attachment-large size-large"
                                            alt="">
                                    </div>
                                </figure>
                                <figure class="gallery-item">
                                    <div class="gallery-icon landscape">
                                        <img src="{% static 'uluocak/img/services/single/2.jpg' %}" class="attachment-large size-large"
                                            alt="">
                                    </div>
                                </figure>
                            </div>
                            
                            <figure class="alignright">
                                <img src="{% static 'uluocak/img/services/single/3.jpg' %}" alt="">
                            </figure>
                            <h3>Yayınlar ve Diğer Aktiviteler</h3>
                            <p>Süleyman Uluocak, iş dünyasının yanı sıra akademik alanda da etkin bir şekilde faaliyet göstermektedir. Çeşitli dergi ve gazetelerde yayınlanan araştırma yazıları ile inşaat ve mühendislik alanlarındaki deneyim ve bilgi birikimini paylaşmış, ayrıca 'Deprem ve Depreme Dayanıklı Yapı Üretimi' konulu çalışmalarıyla bu alandaki önemli konulara katkı sağlamıştır.</p>
                            
                            <h3>Sivil Toplum ve Kuruluş Üyelikleri</h3>
                            <p>Süleyman Uluocak, sivil toplumun gücüne olan inancını birçok önemli kuruluşta aktif üyeliklerle pekiştirmiştir. İstanbul Ticaret Odası'na bağlı 36. grup İnşaatcılar Meslek Komitesi'nin başkanlığını yürüterek iş dünyasının gelişimine katkı sağlamaktadır. Aynı zamanda, kökenlerine duyduğu bağlılıkla 79 Mesudiye köy derneğinin oluşturduğu Mesudiyeliler Derneği'nin Genel Başkanlığı görevini sürdürerek toplumsal dayanışmaya ve köyünün kalkınmasına öncülük etmektedir. Aydınlar Ocağı'nın yönetim kurulu üyesi olarak bilim, kültür ve sanatın teşvikine katkıda bulunurken, Yarın Araştırmaları Merkezi'nin kurucu üyesi olarak düşünsel çalışmalara öncülük etmektedir. Ayrıca, Türk Mühendisler Birliği, Zeytinburnuspor ve ZEYÇED gibi önemli kuruluşların üyesi olarak toplumun farklı alanlarındaki etkinliklere katılmaktadır. Uluocak, sivil toplumun çeşitli boyutlarındaki katılımıyla toplumun gelişimine ve iyiliğine katkı sağlamak için kararlı bir şekilde çalışmaktadır.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- end service -->
{% endblock content %}
    